p.one{ /* This defines the border graphics for the page header */
    background-color: grey;
    padding: 5px;
    font-size: 200%;
    text-align: center;
    width: 100px;
    height: 40px;
    border-bottom: 2px solid #D48F54;
    border-left: 2px solid #D48F54;
    border-right: 2px solid #4CAF50;
    border-top: 2px solid #4CAF50;
}
p.normal{ /* This defines the border graphics for the normal page text */
    background-color:darkgrey;
    border-left: 2px solid #4CAF50;
    border-bottom: 2px solid #4CAF50;
    border-top: 2px solid #D48F54;
    border-right: 2px solid #D48F54;
    padding: 5px;
   
}
body { /* Defines page background color and font...*/
    font-family: arial;
    background-color: darkslategrey;
}

button{
    background-color: #00000000; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
